<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/contacto.css" />
  </head>
  <body>
    <!-- header block -->
    <header class="header">
      <p class="header__title">
        Diseño <span class="header__title-highlighted">Multimedia</span>
      </p>
      <!-- main-nav-block -->
      <nav class="main-nav">
        <button class="main-nav__button">INICIO</button>
        <button class="main-nav__button">NOSOTROS</button>
        <button class="main-nav__button">SERVICIOS</button>
        <button class="main-nav__button --highlighted">CONTACTO</button>
      </nav>
    </header>
    <!-- subscribe-form-block -->
    <section class="subscribe-form">
      <p class="subscribe-form__title">Suscribete a nuestro boletin</p>
      <div class="subscribe-form__input-container">
        <input
          type="email"
          class="subscribe-form__input"
          placeholder="Ingrese el email..."
        />
        <button class="subscribe-form__submit-button">Suscribirse</button>
      </div>
    </section>
    <!-- contact-block -->
    <main>
      <section class="contact-section">
        <p class="contact-section__title">Contacto</p>
        <p class="contact_section__input-title">Nombre</p>
        <input
          type="text"
          class="contact-section__inputs"
          placeholder="Ingresa tu nombre"
        />
        <p class="contact_section__input-title">Email</p>
        <input
          type="email"
          class="contact-section__inputs"
          placeholder="Ingresa tu email"
        />
        <p class="contact_section__input-title">Telefono</p>
        <input
          type="text"
          class="contact-section__inputs"
          placeholder="Ingresa tu telefono"
        />
        <p class="contact_section__input-title">Celular</p>
        <input
          type="text"
          class="contact-section__inputs"
          placeholder="Ingresa tu celcular"
        />
        <p class="contact_section__input-title">Mensaje</p>
        <input type="text" class="contact-section__inputs --change-height" />
        <button class="contact-section__button">Enviar</button>
      </section>
      <!-- description-block -->
      <section class="description-section">
        <div class="description-section__description-container">
          <p class="description-section__title">Que hacemos</p>
          <p class="description-section__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            varius auctor lacus nec feugiat. Phasellus sit amet ex ipsum.
            Praesent pharetra tincidunt tempor. Etiam velit eros, dapibus eget
            porta in, lacinia et magna
          </p>
        </div>
        <img
          src="../images/mapaGoogle.png"
          alt=""
          class="description-section__img-map"
        />
      </section>
    </main>
    <footer class="footer">
      <p class="footer__text-mark">Grafel Desarrollo Web, Copyright © 2017</p>
    </footer>
  </body>
</html>
