<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Diseños multimedia</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li class="active">Diseño <span>Multimedia</span></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <section class="header">
            <h1>Expertos en Tecnologia Web</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit in deleniti, nam error nemo asperiores fuga earum voluptates assumenda, suscipit nulla veritatis recusandae ab natus, ea nobis pariatur eveniet laboriosam.</p>
        </section>
        <section class="search">
            <h2>Suscríbrete a nuestro boletín</h2>
            <form action="">
                <input type="text" placeholder="Ingresar el email">
                <input type="submit" value="Suscribrete">
            </form>
        </section>
        <section class="services">
            <div class="service-item">
                <img src="../../images/logo_html.png" alt="">
                <h3>HTML5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consequuntur quisquam explicabo aliquid perspiciatis voluptatem, ad vel labore distinctio iure ipsam, ex tempore nesciunt accusamus temporibus vitae necessitatibus consectetur nobis!</p>
            </div>
            <div class="service-item">
                <img src="../../images/logo_css.png" alt="">
                <h3>CSS3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit consequuntur quisquam explicabo aliquid perspiciatis voluptatem, ad vel labore distinctio iure ipsam, ex tempore nesciunt accusamus temporibus vitae necessitatibus consectetur nobis!</p>
            </div>
            <div class="service-item">
                <img src="../../images/logo_brush.png" alt="">
                <h3>Diseño Grafico</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium assumenda nostrum quia perferendis temporibus. Amet, nulla iste repellat perferendis repellendus aspernatur dicta temporibus accusantium ullam dolorum officia quae rerum maiores.</p>
            </div>
        </main>
    <footer>
        <p>Graphed Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>

</html>