<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../styles/servicios.css">
</head>
<body>
    <nav>
        <ul>
            <div class="logo">
                <li class="active">Diseño <span>Multimedia</span></li>
            </div> 
            <li><a href="index.html">Inicio</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="servicios.html">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>

    <section class="search">
            <h2>Suscríbrete a nuestro boletín</h2>
            <form action="">
                <input type="text" placeholder="Ingresar el email">
                <input type="submit" value="Suscribrete">
            </form>
    </section>
    
<main class="contenedor">
    <h2 class="h2-servicios">Servicios</h2>
    <section class="servicios">
    <div>
        <h3>Diseño Web</h3> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit reiciendis quisquam magni a earum cumque provident explicabo est placeat corporis quasi deserunt libero, modi laboriosam aspernatur consequatur eveniet nobis officia?</p>
        <p>Precio: $300000 - 1000000</p>
    </div>
    
    <div>
        <h3>Desarrollo Web</h3> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit reiciendis quisquam magni a earum cumque provident explicabo est placeat corporis quasi deserunt libero, modi laboriosam aspernatur consequatur eveniet nobis officia?</p>
        <p>Precio desde: $1000000</p>
    </div>

    <div>
        <h3>Hosting Web</h3> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit reiciendis quisquam magni a earum cumque provident explicabo est placeat corporis quasi deserunt libero, modi laboriosam aspernatur consequatur eveniet nobis officia?</p>
        <p>Precio: $300000</p>
    </div>
    </section>

    <aside class="lateral">
        <h3 class="h3-lateral">Que hacemos</h3>
        <p class="p-aside">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus ratione temporibus rerum molestiae tenetur deserunt, dolore ab assumenda aliquid ullam at dolorum mollitia, nam quae voluptates illo unde asperiores qui.</p>
    </aside>
</main>

    <footer>
        <p class="p-footer">Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>