*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

main{
    flex: 1;
}


 /*Navbar*/

nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem;
    background-color: #333;
    color: white;
    border-bottom: 4px solid #48f;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    padding-right: 3rem;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav li{
    list-style: none;
}

nav li:hover a{
    color: #48f;
    cursor: pointer;
}

.active{
    margin-right: auto;
    margin-left: 2rem;
}

span{
    color: #48f;
    font-weight: bold;
}

.header{
    background-image: url('/images/cabecera.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 6rem;
}

.header h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 16px;
}

.header p{
    color: white;
    font-size: 1rem;
    text-align: center;
}

/*ZOna de buscar*/

.search{
    display: flex;
    color: #fff;
    width: 100%;
    padding: 2rem;
    background-color: #333;
    gap: 2rem;
}

.search h2{
    margin-left: 3rem;
    flex: 1;
    text-align: left;
}

.search form{
    display: flex;
    gap: 0.4rem;
    margin-right: 5rem;
}

.search input[type="text"]{
    width: 15rem;
    padding: 0.5rem 0;
}

.search input[type="submit"]{
    background-color: #e1573b;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
}

/*Seccion de las imagenes*/

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /*se asegura que todas las cajas hijas tengas la misma altura*/
    gap: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}

.service-item{
    width: 30%;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
}

.service-item img{
    width: 6rem;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/*Pie de pagina*/

footer{
    width: 100%;
    background-color: #48f;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

footer p{
    margin: 0;
    font-size: 0.8rem;
}   

