*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.parte-header{
    background-color: #999;
    height: 200px;
}

main{
    font-family: sans-serif;
    padding: 15px;
}

#nosotros{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.info-nosotros{
    grid-column: 3/16;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

h2{
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
}

.texto1-nosotros{
    margin-top: 15px;
}

.texto2-nosotros{
    margin-top: 10px;
    padding: 15px;
    background-color: #234;
    color: #fafafa;

}

.img-teclado{
    box-sizing: border-box;
    grid-column: 4/15;
    width: 100%;

}

.info-adicional{
    grid-column: 17/23;
    padding: 30px 10px;
    background-color: #234;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: fit-content;
}

h3{
    width: 100%;
    text-align: left;
    color: #fafafa;
}

.texto-adicional-nosotros{
    color: #fafafa;
}

footer{
    background-color: #39d;
    height: 100px;
    display:grid;
    justify-content: center;
    align-content: center;
}

.p-footer{
    color: #fafafa;
}

