<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Diseños multimedia</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li class="active">Diseño <span>Multimedia</span></li>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <section class="">
            <h1>Expertos en Tecnologia Web</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit in deleniti, nam error nemo asperiores fuga earum voluptates assumenda, suscipit nulla veritatis recusandae ab natus, ea nobis pariatur eveniet laboriosam.</p>
        </section>
        <section></section>
    </main>
</body>

</html>