<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <nav>
            <ul>
                <li class="active">Diseño <span>Multimedia</span></li>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
    </nav>
    <section class="search">
            <h2>Suscribrete a nuestro boletin</h2>
            <form action="">
                <input type="text" placeholder="Ingresar el email">
                <input type="submit" value="Suscribrete">
            </form>
    </section>
    <main>
    <section id="nosotros">
        <article class="info-nosotros">
            <h2>Nosotros</h2>
            <p class="texto1-nosotros">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tenetur ea maxime odio necessitatibus, amet maiores earum? Vel sunt facere dolorem, nihil consequatur placeat repellendus odit, iste cumque numquam aliquid? oisjefio assefiojiuef weeogfj wefjnwrg wrg wegwef wef wef e t5r t2y jtu 7yyuik e rfh wesg iuo dfgetjr6ue ery rthet i67ir efgsu r6d </p>
            <p class="texto2-nosotros">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tenetur ea maxime odio necessitatibus, amet maiores earum? Vel sunt facere dolorem, nihil consequatur placeat repellendus odit, iste cumque numquam aliquid? oisjefio assefiojiuef weeogfj wefjnwrg wrg wegwef wef wef e t5r t2y jtu 7yyuik e rfh wesg iuo dfgetjr6ue ery rthet i67ir efgsu r6d </p>
            <img class="img-teclado" src="../img/891.jpg">
        </article>
        <aside class="info-adicional">
            <h3>Que hacemos</h3>
            <p class="texto-adicional-nosotros">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos tenetur ea maxime odio necessitatibus, amet maiores earum? Vel sunt facere dolorem, nihil consequatur placeat repellendus odit, iste cumque numquam aliquid?</p>
        </aside> 
    </section>
    </main>
    <footer>
        <p class="p-footer">Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>
</html>