*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 2rem;
    background-color: #1C1C1C;
    color: white;
    border-bottom: 4px solid #48f;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    padding-right: 3rem;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav li{
    list-style: none;
}

nav li:hover a{
    color: #48f;
    cursor: pointer;
}

.active{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

span{
    color: #29ABE2;
    font-weight: bold;
}

.search{
    display: flex;
    color: #fff;
    width: 100%;
    padding: 2rem;
    background-color: #1C1C1C;
    gap: 2rem;
}

.search h2{
    margin-left: 3rem;
    flex: 1;
    text-align: left;
}

.search form{
    display: flex;
    gap: 0.4rem;
    margin-right: 5rem;
}

.search input[type="text"]{
    width: 15rem;
    padding: 0.5rem 0;
}

.search input[type="submit"]{
    background-color: #F24D2E;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
}

body{
    min-height: 100vh;
}

.contenedor{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(24,1 fr);
    padding: 2rem;
    column-gap: 2rem;
    margin-left: 60px;
}

.servicios{
    grid-column: 1 / 17;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.servicios div{
    background-color: #f4f4f4;
    padding: 40px;
    border: 1px solid #ccc;
    margin-top: -20px;
}

.servicios div p:last-of-type{
    margin-top: 1rem;
}

.servicios div h3{
    margin-bottom: 1rem;
}

.lateral{
    grid-column: 17/23;
    padding: 30px 10px;
    background-color: #2D3E4F;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: fit-content;
    margin-top: -60px;
}

.p-aside{
    color: #fafafa;
}

h2{
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
}

.h2-servicios{
    margin-bottom: 2rem;
}

h3{
    width: 100%;
    text-align: left;
    color: black;
}

.h3-lateral{
    width: 100%;
    text-align: left;
    color: #fafafa;
}

footer{
    background-color: #0099CC;
    height: 100px;
    display:grid;
    justify-content: center;
    align-content: center;
}

.p-footer{
    color: #fafafa;
}